@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 46, 23, 4;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 119, 42;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(var(--background-end-rgb), 0.1)
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
